.App {
  text-align: center;
}

.message-success {
  width: 20%;
  padding: 10px;
  border: 2px;
  border-style: solid;
  background-color: aquamarine;
  border-radius: 5px;
}

.message-error {
  width: 20%;
  padding: 10px;
  border: 2px;
  border-style: solid;
  background-color: #ff6c6c;
  border-radius: 5px;
}

.blog-content {
  width: 20%;
  padding: 10px;
  border: 2px;
  border-style: solid;
  background-color: #abe9ed;
  border-radius: 5px;
}

.delete-button {
  background-color: #ff6b6b;
  margin-left: 10px;
}
